* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 80%; */
  background: #FFFFFF;
  align-items: center;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}